<div id="user">
  <div *ngIf="bubble.isUser; else isBot" class="container">
    <div class="talk-bubble tri-right left-in">
      <div class="talktext">
        <p>{{bubble.msg || bubbleText}}</p>
      </div>
    </div>
  </div>
</div>
<ng-template #isBot>
  <div id="bot">
    <div class="container">
      <div class="talk-bubble tri-right right-in">
        <div class="talktext">
          <p>Moving our way back up the right side indented. Uses .round and .right-in</p>
        </div>
      </div>
    </div>
  </div>
</ng-template>