<div id="bot">
  <div *ngIf="!bubble.isUser; else isUser" class="container">
    <div class="talk-bubble tri-right left-in">
      <div class="talktext">
        <p *ngIf="!bubble.isGif; else isGif">{{bubble.msg || bubbleText}}</p>
        <ng-template #isGif><img [src]="bubble.msg" class="gif"></ng-template>
        <div class="date">{{ bubble.date | time }}</div>
      </div>
    </div>
  </div>
</div>
<ng-template #isUser>
  <div id="user">
    <div class="container">
      <div class="talk-bubble tri-right right-in">
        <div class="talktext">
          <p>{{bubble.msg || bubbleText}}</p>
          <div class="date">{{ bubble.date | time }}</div>
        </div>
      </div>
    </div>
  </div>
</ng-template>