$blue: #8dcdfa;
$grey: #e0e0e0;

.date {
  background-color: #fff;
  margin: 1em -1.5em -1.5em -1.5em;
  font-size: 11px;
  padding-right: 15px;
  text-align: right;
}

.gif {
  width: auto;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
}

#bot .container {
  text-align: left;

  /* CSS talk bubble */
  .talk-bubble {
    margin: 0px 0 10px 20px;
    display: inline-block;
    position: relative;
    width: 40%;
    min-width: 300px;
    height: auto;
    background-color: $grey;
  }

  /* talk bubble contents */
  .talktext {
    padding: 1em;
    text-align: left;
    line-height: 1.5em;
  }
  .talktext p {
    /* remove webkit p margins */
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
  }

  /* Right triangle, left side slightly down */
  .tri-right.border.left-in:before {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    left: -40px;
    right: auto;
    top: auto;
    bottom: 30px;
    border: 20px solid;
    border-color: $grey $grey transparent transparent;
  }
  .tri-right.left-in:after {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    left: -20px;
    right: auto;
    top: auto;
    bottom: 33px;
    border: 12px solid;
    border-color: $grey $grey transparent transparent;
  }
}

#user .container {
  text-align: right;
  @media only screen and (max-width: 520px) {
    text-align: center;
  }
  @media only screen and (max-width: 430px) {
    text-align: left;
  }

  /* CSS talk bubble */
  .talk-bubble {
    margin: 0px 20px 10px 20px;
    display: inline-block;
    position: relative;
    width: 40%;
    min-width: 300px;
    height: auto;
    background-color: $blue;
  }

  /* Right triangle, right side slightly down*/
  .tri-right.border.right-in:before {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -40px;
    top: 30px;
    bottom: auto;
    border: 20px solid;
    border-color: $blue transparent transparent $blue;
  }
  .tri-right.right-in:after {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -20px;
    top: 18px;
    bottom: auto;
    border: 12px solid;
    border-color: $blue transparent transparent $blue;
  }
}
