$blue: #8dcdfa;
$grey: #e0e0e0;

h1 {
  text-align: center;
  font-size: 3em;
  font-weight: 200;
}
.container {
  padding: 20px;
  margin: 0px auto 20px auto;
  width: 60%;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  @media only screen and (max-width: 1700px) {
    width: 70%;
  }
  @media only screen and (max-width: 1550px) {
    width: 80%;
  }
  @media only screen and (max-width: 1400px) {
    width: 90%;
  }
  @media only screen and (max-width: 520px) {
    border-width: 0;
  }
}
.virtual-viewport {
  width: 100%;
  height: 70vh;
  overflow-x: hidden; 
  background-color: #fdfdfd;
}

hr {
  margin-top: 0;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.round-button {
  margin-right: 410px;
  float: right;
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border: 2px solid #f5f5f5;
  border-radius: 50%;
  color: #f5f5f5;
  text-align: center;
  text-decoration: none;
  background: $grey;
  box-shadow: 0 0 3px grey;
  font-size: 20px;
  font-weight: bold;
  }
.round-button:hover {
  background-color: #3CB371;
}
.input-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
mat-form-field {
  width: 30vw;
  min-width: 300px;
  @media only screen and (max-width: 1700px) {
    width: 40vw;
  }
  @media only screen and (max-width: 1200px) {
    width: 50vw;
  }
  @media only screen and (max-width: 800px) {
    width: 60vw;
  }
}
.triangle {
  margin-left: 4px;
  border-right: 3px solid; 
  border-bottom: 3px solid;
  height: 15px;
  width: 15px;
  transform: rotate(-45deg);
}